.image {
  width: 432px;
  height: 533px;
}

.input-form {
  width: 476px;
}

.input {
  height: 50px;
}

.button-login {
  background-color: #53b8d1;
  color: white;
  border: 2px solid white;
  width: 476px;
  height: 50px;
  border-radius: 21px;
}

.button-find {
  background-color: #53b8d1;
  color: white;
  border: 2px solid white;
  width: 100px;
  height: 50px;
  border-radius: 21px;
}

.price {
  width: 150px;
  height: 50px;
  border: 2px solid #53b8d1;
  color: #53b8d1;
  border-radius: 21px;
}

.button-hire {
  background-color: #53b8d1;
  color: white;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  border-radius: 21px;
}

.button-map {
  background-color: #53b8d1;
  color: white;
  border: 2px solid #53b8d1;
  width: 110px;
  height: 50px;
  border-radius: 21px;
}

.botton-complete {
  background-color: #53b8d1;
  color: white;
  border: 2px solid white;
  width: 350px;
  height: 50px;
  border-radius: 21px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
